streamlit==1.26.0
streamlit-chat==0.1.1
langchain==0.0.285
langsmith==0.0.35
huggingface-hub==0.15.1
sentence-transformers==2.2.2
beautifulsoup4==4.12.2
pinecone-client==2.2.2
pip==23.2.1
pipreqs==0.4.13
requests==2.31.0
requests-file==1.5.1
requests-toolbelt==1.0.0
openai==0.28.0
tiktoken==0.5.1